a {
  text-decoration: none;
  color: inherit;
}
.side-bar {
  box-sizing: border-box;
  color: white;
  width: 300px;
  float: left;
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
      .side-header__box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .header__name {
          display: inline-block;
          font-size: $side_header_font;
          font-weight: bold;
        }
        .header__lists {
          display: flex;
          float: right;
          .list {
            display: inline-block;
            margin-left: 0.3rem;
          }
          .icon {
            display: flex;
            color: $white;
            font-size: $side_header_font;
          }
      } 
    }
  }

  .groups {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 0 20px;
    overflow: scroll;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color: $white;
        font-size: $side_group_name;
      }
      &__message {
        color: white;
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}